/**
Theme Name: TowerPower
Author: Christian Leuenberg
Author URI: https://www.l-net.biz
Description: Astra Child-Theme for TowerPower
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: towerpower
Template: astra
*/

.table-wrapper {
    width:100%;
}

.table-course {
    width:100%;
    max-width:100%;
}

@media screen and (max-width: 1035px) {
    .table-wrapper {
        width:100%;
        overflow-x: scroll;
    }
}

.table-course th {
    width:14.28%;
    background:#282758;
    color:#fff;
}

.container-course {
    padding:5px 0;
}

.container-course + .container-course {
    border-top:1px solid rgba(0,0,0,.1);
}

.container-course span {
    display:inline-block;
    background:rgba(0,0,0,.1);
    padding:1px 4px;
    font-size:.75rem;
    vertical-align: text-top;
    float:right;
}

.container-course span.room-k1,
.container-course span.room-kk,
span.room-kk {
    background:#FFEEC0;
}

.container-course span.room-k2,
.container-course span.room-gk,
span.room-gk {
    background:#FFE2C0;
}

.container-course span.room-ea,
.container-course span.room-ee,
span.room-ee {
    background:#B4D8EB;
}

.container-course span.room-tc,
span.room-tc {
    background:#BBC0EE;
}

.container-course img {
    display:block;
    height:35px;
    margin:5px 0;
    width:auto;
}

.footer-adv .widget table,
.footer-adv .widget table tr,
.footer-adv .widget table td {
    border:none;
}
.footer-adv .widget table td {
    padding:0;
}

.pp-member-wrapper .pp-member-content-inner {
    background:rgba(255,255,255,.8);
}

.fl-contact-form label[for="fl-name"],
.fl-contact-form label[for="fl-email"],
.fl-contact-form label[for="fl-message"] {
    display:none;
}

.fl-post-feed-image {
    margin-bottom:0;
}

.kursplan-widget {
    background:transparent;
}

.kursplan-widget .fl-html {
    padding:10px;
    background-color: #fff;
}

.kursplan-widget .fl-html table:last-of-type {
    margin-bottom:0;
}

.kursplan-widget2 {
    background:transparent;
}

.kursplan-widget2 .fl-html {
    padding:10px;
}

.kursplan-widget2 .fl-html table {
    background-color: #fff;
    border-radius: 4px;
}

.kursplan-widget2 .fl-html table th {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.kursplan-widget2 .fl-html table th,
.kursplan-widget2 .fl-html table td {
    border:none;
}

.kursplan-widget2 .fl-html table:last-of-type {
    margin-bottom:0;
}